*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
img {
    margin-left: 2.5%;
    width: 100px;
    height: 100px;
    float: left;
}

body {
    margin-top: 100px;
    background-color: white;
    width: 100%;
}

nav {
    width: 100%;
    height: 100px;
    top: 0;
    position: fixed;
    background-color: white;
}

nav ul {
    padding: 0 10% 0 0;
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 1px;
    line-height: 100px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-family: Verdana;
    color: seagreen;
    font-size: 16px;
    padding: 0 0 0 20px;
    float: right;
}

nav ul li a:hover {
    color: darkolivegreen;
    font-size: 24px;
}
.titles {
    padding:250px 0 250px 0;
    background-color:darkslategrey;
    color:white;
    text-align:center;
    font-size:34px;
}
.about{
    margin-top:10px;
    width:100%;
}
.about p {
    font-family: Verdana;
    text-align: justify;
    color: darkolivegreen;
    padding: 10px;
    line-height: 30px;
    padding:3em 3em 1em 3em;
    font-size:20px;
}
.slogan{
    padding:3em;
    display:grid;
    grid-gap:2em;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
}
.one {
    background-color: darkslategrey;
    color:white;
    padding: 2em;
    border-radius: 2em;
    font-family: nunito;
    font-size: 24px;
    box-shadow: 20px 20px 200px rgba(0,0,0,0.1);
}
.responsive {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    background-color: darkslategrey;
    border-radius: 1em;
    width:100%;
}

.container {
    padding: 2em;
    border-radius: 2em;
    box-shadow: 20px 20px 200px rgba(0,0,0,0);
}

.contact {
    float: left;
    width: 300px;
    text-align: justify;
    line-height: 24px;
}

    .contact p {
        font-family: Verdana;
        font-size: 16px;
    }

input[type=text], select, textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: darkslategrey;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    input[type=submit]:hover {
        background-color: green;
    }

.container {
    border-radius: 2em;
    background-color: ghostwhite;
    padding: 2em;
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

/* Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
}*/

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

@media(min-width:550px) {
    .span-2 {
        grid-column: auto/span 2;
    }
}
@media(max-width:800px) {
    .dropbutton {
        display: block;
    }

    nav ul {
        display: none;
    }

    img {
        float: right;
    }
}

@media(min-width:800px) {
    .dropbutton {
        display: none;
    }
}

.dropbutton {
    background-color: darkslategrey;
    border-radius: 1em;
    color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    float: right;
    line-height: 80px;
}

    .dropbutton:hover, .dropbutton:focus {
        background-color: darkseagreen;
    }

.menu {
    //position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: darkslategrey;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .menu-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.menu a:hover {
    background-color: dimgray;
}

.show {
    display: block;
}


