* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

img {
    margin-left: 2.5%;
    width: 100px;
    height: 100px;
    float: left;
}

body {
    margin-top: 100px;
    background-color: white;
    width:100%;
}

nav {
    width: 100%;
    height: 100px;
    top: 0;
    position: fixed;
    background-color: white;
}

nav ul {
    padding: 0 10% 0 0;
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 1px;
    line-height: 100px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-family: Verdana;
    color: seagreen;
    font-size: 16px;
    padding: 0 0 0 20px;
    float: right;
}

nav ul li a:hover {
    color: darkolivegreen;
    font-size: 24px;
}
nav #icon{
    font-size:30px;
    line-height:100px;
    float:right;
    cursor:pointer;
    margin-right:40px;
    color:darkslategrey;
}
.main {
    margin-top: 120px;
    background-color: papayawhip;
    font-family: Verdana;
    text-align: center;
    margin-left: 0;
    padding: 3em;
}

.savings {
    margin-top: 0px;
    background-color: papayawhip;
    font-family: Verdana;
    text-align: center;
    margin-left: 0;
    padding: 3em;
}
.table{
    padding: 20px 1.5% 10px 1.5%;
}
table{
    width:100%;
    text-align:center;
}
.return {
    width: 100%;
    background-color: white;
    margin: 0 0 0 0;
    padding: 40px 5% 20px 5%;
    text-align: left;
    font-family: Verdana;
}
.return h1 {
  padding:0 0 20px 0;
  color: darkslategrey;
}
.return p {
    text-align:left;
    font-family: Verdana;
}
.return{
    margin: 20px 0 30px 0;
}
.table{
    text-align:center;
}
.return table{

}
.ROI h3{
    padding: 3em 0 0 3em;
    color:green;
}
.figures{
    padding:3em;
    display:grid;
    grid-gap:2em;
    grid-template-columns:repeat(auto-fill,minmax(350px,1fr));
}
.one {
    padding: 2em;
    border-radius: 2em;
    font-family: nunito;
    font-size: 24px;
    box-shadow: 20px 20px 200px rgba(0,0,0,0);
    background-color: darkslategrey;
    color:white;
}
.footer {
    padding: 3em;
    color: white;
    background-color: darkslategray;
    border-radius: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}

.form {
    float: right;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 20px 20px 200px rgba(0,0,0,0);
}
.responsive{
    padding:3em;
    display:grid;
    grid-gap:2em;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    background-color:darkslategrey;
    border-radius:1em;
}
.container {
    padding: 2em;
    border-radius: 2em;
    box-shadow: 20px 20px 200px rgba(0,0,0,0);
}

.contact {
    float: left;
    width: 300px;
    text-align:justify;
    line-height:24px;
}
.contact p{
    font-family:Verdana;
    font-size:16px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: darkslategrey;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    input[type=submit]:hover {
        background-color: green;
    }

.container {
    border-radius: 2em;
    background-color: ghostwhite;
    padding: 2em;
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

/* Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
}*/

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
@media(min-width:550px){
    .span-2{
        grid-column:auto/span 2;
    }
}
@media(max-width:800px){
    .dropbutton{
        display:block;
    }
    nav ul{
        display:none;
    }
    img{
        float:right;
    }
}
@media(min-width:800px){
    .dropbutton{
        display:none;
    }
}
.dropbutton {
    background-color:darkslategrey;
    border-radius:1em;
    color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    float:right;
    line-height:80px;
}

    .dropbutton:hover, .dropbutton:focus {
        background-color: darkseagreen;
    }

.menu {
    //position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: darkslategrey;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .menu-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.menu a:hover {
    background-color: dimgray;
}

.show {
    display: block;
}
@media(max-width:500px){
    padding:0;
    margin:0;
    width:100%;
    .main{
        width:100%;
        padding:0;
    }
    .savings{
        width:100%;
        padding:0;
    }
    .return{
        width:100%;
    }
    .table{
        width:100%
    }
    .ROI{
        width:100%
    }
    .figures{
        width:100%;
        padding:0;
        margin:0;
        display:block;
    }
    .responsive{
        width:100%;
        display:block;
        margin:0;
        padding:0;
    }
    .container{
        margin:0;
        width:100%;
        padding-top:10px;
    }
    .contact{
        width:100%;
        padding-top:10px;    
    }
    .contact img{
        display:none;
    }
    .one{
        width:100%;
        border-radius:0;
        padding-top:10px;
    }
        
    .container span_2{
        margin:0;
        width:100%;
        padding-top:10px;
    
    }
}


